In [1]:
import pandas as pd

In [2]:
cities = pd.read_csv('worldcitiespop.csv')
cities.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Country        City  AccentCity Region  Population   Latitude  Longitude
0      ad       aixas       Aix�s      6         NaN  42.483333   1.466667
1      ad  aixirivali  Aixirivali      6         NaN  42.466667   1.500000
2      ad  aixirivall  Aixirivall      6         NaN  42.466667   1.500000
3      ad   aixirvall   Aixirvall      6         NaN  42.466667   1.500000
4      ad    aixovall    Aixovall      6         NaN  42.466667   1.483333

In [3]:
cities = cities.loc[~cities["Population"].isnull()]

In [4]:
cities = cities.sort_values("Population", ascending=False)

In [5]:
cities = cities.head(500)
cities

,Country,City,AccentCity,Region,Population,Latitude,Longitude
1544449,jp,tokyo,Tokyo,40,31480498.0,35.685000,139.751389
570824,cn,shanghai,Shanghai,23,14608512.0,31.045556,121.399722
1327914,in,bombay,Bombay,16,12692717.0,18.975000,72.825833
2200161,pk,karachi,Karachi,05,11627378.0,24.905600,67.082200
1349146,in,new delhi,New Delhi,7,10928270.0,28.600000,77.200000
1331162,in,delhi,Delhi,7,10928270.0,28.666667,77.216667
2130459,ph,manila,Manila,D9,10443877.0,14.604200,120.982200
2461968,ru,moscow,Moscow,48,10381288.0,55.752222,37.615556
1626528,kr,seoul,Seoul,11,10323448.0,37.598500,126.978300
316800,br,sao paulo,S�o Paulo,27,10021437.0,-23.473293,-46.665803
2800596,tr,istanbul,Istanbul,34,9797536.0,41.018611,28.964722
2003442,ng,lagos,Lagos,05,8789133.0,6.453056,3.395833
1892345,mx,mexico,Mexico,9,8720916.0,19.434167,-99.138611
1186762,id,jakarta,Jakarta,4,8540306.0,-6.174444,106.829444
2990572,us,new york,New York,NY,8107916.0,40.714167,-74.006389
362418,cd,kinshasa,Kinshasa,6,7787832.0,-4.300000,15.300000
842667,eg,cairo,Cairo,11,7734602.0,30.050000,31.250000
2074194,pe,lima,Lima,15,7646786.0,-12.050000,-77.050000
553246,cn,peking,Peking,22,7480601.0,39.928889,116.388333
996635,gb,london,London,H9,7421228.0,51.514125,-0.093689
660231,co,bogota,Bogot�,34,7102602.0,4.649178,-74.062827
198311,bd,dhaka,Dhaka,81,6493177.0,23.723056,90.408611
2208230,pk,lahore,Lahore,04,6312576.0,31.549722,74.343611
313816,br,rio de janeiro,Rio de Janeiro,21,6023742.0,-22.900000,-43.233333
1364651,iq,baghdad,Baghdad,7,5672516.0,33.338611,44.393889
2707212,th,bangkok,Bangkok,40,5104475.0,13.753979,100.501444
1324808,in,bangalore,Bangalore,19,4931603.0,12.983333,77.583333
409030,cl,santiago,Santiago,12,4837248.0,-33.450000,-70.666667
1328402,in,calcutta,Calcutta,28,4631819.0,22.569722,88.369722
351416,ca,toronto,Toronto,8,4612187.0,43.666667,-79.416667
...,...,...,...,...,...,...,...
295690,br,contagem,Contagem,15,627132.0,-19.916667,-44.100000
1326985,in,bhilai,Bhilai,37,625203.0,21.216667,81.433333
792949,dj,jibuti,Jibuti,03,623891.0,11.595000,43.148056
1904800,mx,saltillo,Saltillo,7,621270.0,25.416667,-101.000000
3027325,us,fort worth,Fort Worth,TX,618119.0,32.725278,-97.320556
1337226,in,jamshedpur,Jamshedpur,38,616404.0,22.800000,86.183333
478620,cn,haikou,Haikou,31,615835.0,20.045833,110.341667
316499,br,sao jose dos campos,S�o Jos� dos Campos,27,613776.0,-23.183333,-45.883333
2815392,tr,mersin,Mersin,32,612540.0,36.732778,34.644167
591892,cn,taizhou,Taizhou,4,612356.0,32.493333,119.910627
1899906,mx,queretaro,Quer�taro,22,611803.0,20.600000,-100.383333
626537,cn,xingtai,Xingtai,10,611739.0,37.063056,114.494167
2957964,us,baltimore,Baltimore,MD,610892.0,39.290278,-76.612500
992962,gb,glasgow,Glasgow,V2,610271.0,55.833333,-4.250000
2561274,ru,yaroslavl,Yaroslavl,88,606735.0,57.619770,39.855360
3124372,za,benoni,Benoni,06,605363.0,-26.190851,28.311338
1531231,jp,hamamatsu,Hamamatsu,37,605105.0,34.700000,137.733333
1341599,in,kochi,Kochi,13,604751.0,9.966667,76.233333
506044,cn,jinzhou,Jinzhou,19,604269.0,41.107778,121.141667
1322769,in,amravati,Amravati,16,603885.0,20.933333,77.750000
2032023,nl,rotterdam,Rotterdam,11,603851.0,51.916667,4.500000
93,ae,abu dhabi,Abu Dhabi,1,603687.0,24.466667,54.366667
3089944,vn,hai phong,Hai Phong,13,602718.0,20.856111,106.682222
1462567,ir,orumiyeh,Orumiyeh,1,602443.0,37.555300,45.072400
1370801,iq,kirkuk,Kirkuk,13,601442.0,35.468056,44.392222
2367739,ru,barnaul,Barnaul,04,599586.0,53.360556,83.763611
2993640,us,charlotte,Charlotte,NC,598351.0,35.226944,-80.843333
3027061,us,el paso,El Paso,TX,597181.0,31.758611,-106.486389
529698,cn,luancheng,Luancheng,10,597130.0,37.879167,114.651667
1892331,mx,mexicali,Mexicali,2,597124.0,32.651944,-115.468333